<div class='<%= @sponsor['columns'] %> column<%= 's' unless @sponsor['columns'] == 'one' %> <%= 'offset-by-one' if @sponsor['offset'] %>'
  <a href='<%= @sponsor['href'] %>'>
    <img src='<%= @sponsor['src'] %>' alt='<%= @sponsor['alt'] %>' />
  </a>
</div>
