<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    	<link href='https://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>

        <title><%= title %></title>

        <% for(i in scripts) { %>
            <script type="text/JavaScript" src="<%= scripts[i] %>"></script>
        <% } %>

        <script>
            var boxxyHost = '<%= host %>';
        </script>

        <link rel="stylesheet" type="text/css" href="/css/base.css">
        <link rel="stylesheet" type="text/css" href="/css/skeleton.css">
        <link rel="stylesheet" type="text/css" href="/css/layout.css">
        <link rel="stylesheet" type="text/css" href="/css/timeline.css">
    </head>
<body>

    <div id="intro">
		<div class="<%= bg %>"></div>

		<div class="title">
			<div class="intro-line"></div>
            <h1>12urenloop</h1>
			<div class="intro-line"></div>
		</div>
	</div>

    <nav>
		<ul>
			<li><a href="/timeline">Timeline</a></li>
			<li><a href="/scores">Scores</a></li>
			<li><a href="/dj-contest">DJ Contest</a></li>
			<li><a href="/special-laps">Speciale rondes</a></li>
			<li><a href="/afterparty">Afterparty</a></li>
		</ul>

		<select name="dropdown" size="1" onChange="location.href=this.value">
			<option value="" selected="selected">Menu</option>
			<option value="/timeline">Timeline</option>
			<option value="/scores">Scores</option>
			<option value="/dj-contest">DJ Contest</option>
			<option value="/special-laps">Speciale rondes</option>
			<option value="/afterparty">Afterparty</option>
		</select>
	</nav>

    <div class="container <%= (!!locals.container) ? container : '' %>">
      <h2><%= title %></h2>
      <%- content %>
    </div>

    <div class="sixteen columns">
    	<div class="copyright">
            <p>Foto's met dank aan Katrien Verhoeye, <a href="https://www.facebook.com/eventphotographyarthurnevejan">Arthur Nevejan</a> en <a href="https://www.facebook.com/Fotonaat.be">Fotonaat</a><br />&copy; 2013-2016 12urenloop</p>
        </div>
    </div>

	<script src="https://code.jquery.com/jquery-1.7.2.min.js"></script>
	<script src="/js/jquery.sticky.js" type="text/javascript"></script>
	<script src="/js/jquery.inview.js" type="text/javascript"></script>
	<script src="/js/smooth-scroll.js" type="text/javascript"></script>

	<script>
		function scrollTo(target){
			var targetPosition = $(target).offset().top;
			$('html,body').animate({ scrollTop: targetPosition}, 'slow');
		}

		$(document).ready(function(){
			$('nav').sticky({topSpacing:0});
		});

    /* Google Analytics */
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-25444917-4', 'auto');
		ga('send', 'pageview');
	</script>
</body>
</html>
