<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <title><%= title %></title>

        <% for(i in scripts) { %>
            <script type="text/JavaScript" src="<%= scripts[i] %>"></script>
        <% } %>

        <script>
            var boxxyHost = '<%= host %>';
        </script>

        <link rel="stylesheet" type="text/css" href="/css/base.css">
        <link rel="stylesheet" type="text/css" href="/css/skeleton.css">
        <link rel="stylesheet" type="text/css" href="/css/layout.css">
    </head>
<body>
	
    <div id="intro">
		<div class="<%= bg %>"></div>

		<div class="title">
			<div class="intro-line"></div>
			<h1><%= title %></h1>
			<div class="intro-line"></div>

		</div>
	</div>

    <nav>
		<ul>
			<li><a href="/scores">Scores</a></li>
			<li><a href="/dj-contest">DJ Contest</a></li>
			<li><a href="/special-laps">Speciale rondes</a></li>
		</ul>

		<select name="dropdown" size="1" onChange="scrollTo(this.value)">
			<option value="" selected="selected">Menu</option>
			<option value="/scores">Scores</option>
			<option value="/contest"><DJ Contest</option>
			<option value="/special-laps">Speciale rondes</option>
		</select>
	</nav>

	<%- content %>

	<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
	<script src="/js/jquery.sticky.js" type="text/javascript"></script>
	<script src="/js/jquery.inview.js" type="text/javascript"></script>
	<script src="/js/smooth-scroll.js" type="text/javascript"></script>

	<script>
		function scrollTo(target){
			var targetPosition = $(target).offset().top;
			$('html,body').animate({ scrollTop: targetPosition}, 'slow');
		}

		$(document).ready(function(){
			$('nav').sticky({topSpacing:0});
		});

	</script>
</body>
</html>