<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title><%= title %></title>

        <% for(i in scripts) { %>
            <script type="text/JavaScript" src="<%= scripts[i] %>"></script>
        <% } %>

        <script>
            var boxxyHost = '<%= host %>';
        </script>

        <link rel="stylesheet" type="text/css" href="/css/application.css">
    </head>
    <body>
        <div id="main">
            <p>Big fancy logo here</p>
            <div id="navigation">
                <a href="/scores">Scores</a>
                <a href="/dj-contest">DJ Contest</a>
                <a href="/special-laps">Speciale rondes</a>
            </div>
            <hr>
            <h1><%= title %></h1>
            <%- content %>
            <hr>
            <p>Created by <a href="http://zeus.ugent.be">Zeus WPI</a></p>
        </div>
    </body>
</html>
